beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
geographiclib==2.0
geopy==2.4.1
greenlet==3.0.1
idna==3.6
iniconfig==2.0.0
packaging==23.2
playwright==1.40.0
pluggy==1.3.0
pyee==11.0.1
pytest==7.4.3
pytest-base-url==2.0.0
pytest-playwright==0.4.3
python-slugify==8.0.1
setuptools==69.0.3
soupsieve==2.5
text-unidecode==1.3
typing_extensions==4.9.0
urllib3==2.1.0